@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  width: 100vw;
  height: 100vh;
}
@font-face {
  font-family: Dmsans;
  src: url(/DMSans-VariableFont_opsz,wght.ttf);
}
@font-face {
  font-family: rockwell;
  src: url(/ROCK.TTF);
}
